body {
    background-color: beige;
    padding: 0 20px;
}

label {
    margin-right: 10px;
}

button {
    padding: 5px;
    margin-top: 10px;
    float: right;
}

#weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.container {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2vh;
}
.info-card {
    text-align: center;
    border: solid 2px;
	width: 25vw;
	/* border-radius: 8px; */

    padding: 20px 10px 40px;
}

h3 {
    font-size: 40px;
    margin: 30px;
}

.container-inner {
    display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 2vh;
}
.info-card-inner {
    text-align: center;
    /* border: solid 1px; */
    /* padding: 0px 10px 25px; */
}

img {
    background-color: grey;
}

.desc {
    font-style: italic;
}

#cacheInfo {
    text-align: center;
}

#back {
    text-align: center;
}